<!-- Time-stamp: <2021-09-03 19:19:39 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@using Webapp.Vydata

@model GissaEttTalSpelVyModell

@{
    ViewData["Title"] = "Gissa ett tal";
}

<h1>gissa-ett-tal:leken</h1>

<div>
    Gissa ett tal mellan 1-100
</div>

<form asp-controller="GissaEttTalSpel" asp-action="Spela" method="post">
    <label for="gissning">Gissa på ett tal:</label><input asp-for="Talgissning"/><br/>
    <button type="submit">Inmatning</button>
</form>

<div>
    Fram tills nu har du gissat @Model.AntalNuvarandeGissningar gånger
</div>

<div>
    Tips: @Model.Tips
</div>
