<!-- Time-stamp: <2021-08-23 15:39:00 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@model githubArkiv

@{
    ViewData["Title"] = "Olika projekt i github";
}

<h1>GitHub</h1>

<div>
    De av mina projekt som finns på github.com/Skaraborgfakir

</div>
