<!-- Time-stamp: <2021-08-23 14:26:52 stefan> -*-web-*- -->
@model githubArkiv

@{
    ViewData["Title"] = "Olika projekt i github";
}

<h1>GitHub</h1>

<div>
    De av mina projekt som finns på github.com/Skaraborgfakir
    @foreach (string val in Result) {
    }
</div>
