<!-- Time-stamp: <2021-08-27 13:53:02 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@using Webapp.Modeller;
@model Webapp.Modeller.githubArkiv

@{
    ViewData["Title"] = "Olika projekt i github";
}

<h1>GitHub</h1>

<div>
    De av mina projekt som finns på github.com/Skaraborgfakir
</div>
<div>
    <table>
	<tr>
	    <th>Namn</th>
	    <th>URL</th>
	    <th>Beskrivning</th>
	</tr>
	@foreach (Repo item in ViewBag.repos) {
	    <tr>
	    <td>@item.Namn</td>
	    <td>@item.Url</td>
	    <td> @item.Description</td>
	    </tr>
	}
    </table>
</div>
