<!-- Time-stamp: <2021-08-30 00:36:25 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@model githubArkiv

@{
    ViewData["Title"] = "Olika projekt i github";
}

<h1>GitHub</h1>

<div>
    De av mina projekt som finns på github.com/Skaraborgfakir
</div>

<div>
    repos : @ViewBag.repos
</div>
