<!-- Time-stamp: <2021-08-23 17:22:18 stefan> -*-web-*- -->
<!-- Kontaktuppgifter.cshtml -->
@{
    ViewData["Title"] = "Om mig";
}

<h1>Om mig</h1>

<div class="text-center">
    <div>
	&#x260E; 0702-713 839
    </div>
    <div>
	Stefan Niskanen Skoglund <a href="mailto:stefan.skoglund@agj.net">stefan.skoglund@agj.net</a>
    </div>
</div>
