<!-- Time-stamp: <2021-08-23 15:38:35 stefan> -*-web-*- -->
<!-- Kontaktuppgifter.cshtml -->
@{
    ViewData["Title"] = "Om mig";
}

<h1>Om mig</h1>

<div class="text-center">
    <div>
	Bor i Stenstorp
    </div>
    <div>
	Har arbetat som signaltekniker på järnvägen. Har varit uthyrd
	till InfraNord i Stockholm.
    </div>
</div>
