<!-- Time-stamp: <2021-08-30 12:16:51 stefan> -*-web-*- -->
<!-- OmMig.cshtml -->

@{
    ViewData["Title"] = "Om mig";
}

<div class="text-center">
    <div>
	Bor i @ViewData["hemort"]
    </div>
    <div>
	Har arbetat som signaltekniker på järnvägen. Har varit uthyrd
	till InfraNord i Stockholm.
    </div>
</div>
