<!-- Time-stamp: <2021-08-23 15:38:45 stefan> -*-web-*- -->
<!-- OmMig.cshtml -->

@{
    ViewData["Title"] = "Om mig";
}

<div class="text-center">
    <div>
	Bor i Stenstorp
    </div>
    <div>
	Har arbetat som signaltekniker på järnvägen. Har varit uthyrd
	till InfraNord i Stockholm.
    </div>
</div>
