<!-- Time-stamp: <2021-08-23 14:52:00 stefan> -*-web-*- -->

@{
    ViewData["Title"] = "Om mig";
}

<div class="text-center">
    <div>
	Bor i Stenstorp
    </div>
    <div>
	Har arbetat som signaltekniker på järnvägen. Har varit uthyrd
	till InfraNord i Stockholm.
    </div>
</div>
