<!-- Time-stamp: <2021-09-02 16:55:25 stefan> -*-web-*- -->
<!-- FeverCheck.cshtml -->

@using Webapp.Viewmodel
@model Feberkontroll

@{
    ViewData["Title"] = "Doctor Boströms mottagning";
}

<div class="text-center">
    <div>
	Doktor Boström här, vad är ditt bekymmer ?
    </div>
</div>

<form asp-controller="Doctor" asp-action="inmatning" method="post">
    <label for="kroppstemp">Vad är din temperatur</label><input asp-for="Kroppstemp"/><br/>
    <button type="submit">Inmatning</button>
</form>
