<!-- Time-stamp: <2021-08-24 11:17:48 stefan> -*-web-*- -->
<!-- FeverCheck.cshtml -->

@{
    ViewData["Title"] = "Doctor Boströms mottagning";
}

<div class="text-center">
    <div>
	Doctor Boström här, vad är ditt bekymmer ?
    </div>
</div>

<form>
    <input id="kroppstemp">
</form>
