<!-- Time-stamp: <2021-08-30 12:02:41 stefan> -*-web-*- -->
<!-- FeverCheck.cshtml -->

@{
    ViewData["Title"] = "Doctor Boströms mottagning";
}

<div class="text-center">
    <div>
	Doctor Boström här, vad är ditt bekymmer ?
    </div>
</div>

<form>
    <label for="kroppstemp">Vad är din temperatur</label>
    <input id="kroppstemp"> <br>
    <input type="submit" value="Inmatning">
</form>
