<!-- Time-stamp: <2021-09-03 12:08:17 stefan> -*-web-*- -->
<!-- FeverCheck.cshtml -->

@using Webapp.Vydata

@{
    ViewData["Title"] = "Doktor Boströms mottagning";
}

<div class="text-center">
    <div>
	Doktor Boström: @ViewData["status"]
    </div>
</div>
