<!-- Time-stamp: <2021-08-31 09:29:55 stefan> -*-web-*- -->
<!-- FeverCheck.cshtml -->

@using Webapp.Viewmodel

@{
    ViewData["Title"] = "Doktor Boströms mottagning";
}

<div class="text-center">
    <div>
	Doktor Boström: @ViewData["status"]
    </div>
</div>
