<!-- Time-stamp: <2021-08-31 11:59:19 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@model Game

@{
    ViewData["Title"] = "Gissa ett tal";
}

<h1>Spel</h1>

<div>
    Gissa ett tal mellan 1-100
</div>
