<!-- Time-stamp: <2021-09-03 12:09:20 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@model Webapp.Modeller.githubArkiv

@{
    ViewData["Title"] = "Olika projekt i github";
}

<h1>GitHub</h1>

<div>
    De av mina projekt som finns på github.com/Skaraborgfakir
</div>

<div>
    repos : @ViewBag.repos
</div>
