<!DOCTYPE html> <!-- Time-stamp: <2021-08-23 16:42:22 stefan> -*-web-*- -->
<!-- _Layout.cshtml -->
<!-- inkluderar via RenderBody() de olika fragmenten -->
<!--     fragment ? Exv: -->
<!--    Views/_ViewStart.cshtml (ett fragment) innan
<!--         Views/Hem/OmMig.cshtml (ett annat) -->


<html lang="sv">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/site.css" />
    </head>
    <body>
	<div>
	    @RenderBody()
	</div>
	<hr/>
	<footer>
	    <div>
		&copy; Stefan Skoglund @DateTime.Now.ToString("D")
	    </div>
	</footer>
    </body>
</html>
